body, html{
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
    background: #f9f9f9;
}



.container {
    text-align: center;
}

.logo {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

p {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    color: #333;
}

.coming-soon{
    position: absolute;
    bottom: 20px;
    left:50%;
    transform: translateX(-50%);

}



